
<li>
	{{id}}<br/>
	{{burger_name}}<br/>
	{{devoured}}
	<br/>	
	<button class="btn btn-danger change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Devour Me!{{/if}}
	</button>
</li>